@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #84e1ad;
    color: white
}

div{
    background-image: linear-gradient(to bottom, #3bd580, #1a5c37)
}

main{
    text-align: justify;
    background-color: white;
    color: black;
    width: 800px;
    padding: 10px;
    margin: auto;
}

h2 {
    color: #1a5c37;
}